.zip filter=lfs diff=lfs merge=lfs -text
run_1/EOS.zip filter=lfs diff=lfs merge=lfs -text
run_1/Mass_radius_compressibility.zip filter=lfs diff=lfs merge=lfs -text
run_2/EOS.zip filter=lfs diff=lfs merge=lfs -text
run_2/Mass_radius_compressibility.zip filter=lfs diff=lfs merge=lfs -text
run_3/EOS.zip filter=lfs diff=lfs merge=lfs -text
run_3/Mass_radius_compressibility.zip filter=lfs diff=lfs merge=lfs -text
run_4/EOS.zip filter=lfs diff=lfs merge=lfs -text
run_4/Mass_radius_compressibility.zip filter=lfs diff=lfs merge=lfs -text
run_5/EOS.zip filter=lfs diff=lfs merge=lfs -text
run_5/Mass_radius_compressibility.zip filter=lfs diff=lfs merge=lfs -text
run_6/EOS.zip filter=lfs diff=lfs merge=lfs -text
run_6/Mass_radius_compressibility.zip filter=lfs diff=lfs merge=lfs -text
run_7/EOS.zip filter=lfs diff=lfs merge=lfs -text
run_7/Mass_radius_compressibility.zip filter=lfs diff=lfs merge=lfs -text
run_1/Max_mass_data_1.csv filter=lfs diff=lfs merge=lfs -text
run_1/Parameters_1.csv filter=lfs diff=lfs merge=lfs -text
run_2/Max_mass_data_2.csv filter=lfs diff=lfs merge=lfs -text
run_2/Parameters_2.csv filter=lfs diff=lfs merge=lfs -text
run_3/Parameters_3.csv filter=lfs diff=lfs merge=lfs -text
run_3/Max_mass_data_3.csv filter=lfs diff=lfs merge=lfs -text
run_4/Max_mass_data_4.csv filter=lfs diff=lfs merge=lfs -text
run_4/Parameters_4.csv filter=lfs diff=lfs merge=lfs -text
run_5/Max_mass_data_5.csv filter=lfs diff=lfs merge=lfs -text
run_5/Parameters_5.csv filter=lfs diff=lfs merge=lfs -text
run_6/Max_mass_data_6.csv filter=lfs diff=lfs merge=lfs -text
run_6/Parameters_6.csv filter=lfs diff=lfs merge=lfs -text
run_7/Max_mass_data_7.csv filter=lfs diff=lfs merge=lfs -text
run_7/Parameters_7.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
